<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="studen_tmanagementConnectionString" connectionString="Data Source=DESKTOP-1H4QHR3;Initial Catalog=studen_tmanagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="studen_tmanagementConnectionString2" connectionString="Data Source=DESKTOP-1H4QHR3;Initial Catalog=studen_tmanagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="studen_tmanagementConnectionString3" connectionString="Data Source=DESKTOP-1H4QHR3;Initial Catalog=studen_tmanagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="studen_tmanagementConnectionString4" connectionString="Data Source=DESKTOP-1H4QHR3;Initial Catalog=studen_tmanagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
